<div>
    <h2><span jhiTranslate="blogApp.entry.home.title">Entries</span>
        <button class="btn btn-primary float-xs-right create-entry" [routerLink]="['/', { outlets: { popup: ['entry-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="blogApp.entry.home.createLabel">
            Create new Entry
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="entries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="blogApp.entry.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="blogApp.entry.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="blogApp.entry.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="blog.name"><span jhiTranslate="blogApp.entry.blog">Blog</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let entry of entries ;trackBy: trackId">
                <td><a [routerLink]="['../entry', entry.id ]">{{entry.id}}</a></td>
                <td>{{entry.title}}</td>
                <td>{{entry.content}}</td>
                <td>{{entry.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="entry.blog">
                        <a [routerLink]="['../blog', entry.blog?.id ]" >{{entry.blog?.name}}</a>
                    </div>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../entry', entry.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entry/'+ entry.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entry/'+ entry.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
